*{
    margin: 0;
}

#wrapper{
    width: 100%;
    background: url(morpion.jpg);
}

h1{
    text-align: center;
}

#squares{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 5px;
    justify-content: center;
}

.square{
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.fa-solid{
    color: red;
    font-weight: 900;
    font-size: xx-large;
}

.fa-regular{
    color: green;
    font-weight: 500;
    font-size: xx-large;
}

#tour p{
    font-size: xx-large;
    text-align: center;
    color: white;
}