

.quote{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    width: 80em;
    height: 10em;
    margin: 5em;
    background-color: rgb(209, 209, 209);
}
.quote-author{
    text-align: end;
}
/* i{
    position: absolute;
    top: 10%;
    right: 0;
    font-size: 24px;
    cursor: pointer;
} */
