*{
    margin: 0;
}

#wrapper{
   width: 100vw;
   height: 100vh;
}
h1{
    margin-bottom: 4%;
}

#squares{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}
.square{
    margin: 10px;
    width: 60px;
    height: 60px;
}
